body{
    background-color:rgb(0, 148, 79);
    color:rgb(135, 199, 71);
    font-family:sans-serif;
margin:0px;
} 
header {border-bottom: solid 4px rgb(179, 255, 0);
padding:10px;
font-size: 32px;
color:rgb(168, 255, 157);
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}